* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Helvetica Neue";
  background-color: #f4f4f5;
}

body > div {
  margin: auto;
}

/* ======= Buttons ======== */
/* có 2 trạng thái:
- Enable: Pointer, hover effect
- Disable: Arrow, no effect*/


/* Block */
.btn{
    display: inline-block;
    /* thẻ a */
    text-decoration: none;
    /* thẻ button */
    background-color: transparent;
    border: none;
    outline: none;
    /* common properties */
    color: white;
    padding: 12px 48px;
    /* góc cạnh tròn */
    border-radius: 50px;
    /* chiều nhang tối thiểu */
    min-width: 120px;
    /* hiệu ứng khi lướt chuột qua */
    transition: opacity 0.2s linear;
}

.btn--size-s{
    padding: 16px 32px;
}

.btn--size-l{
    padding: 16px 56px;
}

.btn:hover{
    opacity: 0.8;
}

/* css cho 2 thằng sau btn đầu */
.btn + .btn{
    margin-left: 16px;
}

.btn--success{
    background-color: #71be34;
}

.btn--warning{
    background-color: #ffb702;
}

.btn--danger{
    background-color: #ff623d;
}

.btn-disable{
    /* important để overide .btn:hover */
    opacity: 0.5!important;
    cursor: default;
}

/* ======= Toast ======== */
#toast{
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
}

.toast{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    padding: 20px 0;
    min-width: 400px;
    max-width: 450px;
    border-left: 4px solid;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft{
    from{
        /* ẩn toast */
        /* +32px vì #toast có right 32px  */
        opacity: 0;
        transform: translateX(calc(100% +32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes faceOut{
    to{
        opacity: 0;
    }
}
/* success toast */
.toast--success{
    border-color: #47d864;
}
.toast--success .toast__icon{
    color: #47d864;
}
/* infor toast */
.toast--infor{
    border-color: #2f86eb;
}
.toast--infor .toast__icon{
    color: #2f86eb;
}
/* warning toast */
.toast--warning{
    border-color: #ffc021;
}
.toast--warning .toast__icon{
    color: #ffc021;
}
/* error toast */
.toast--error{
    border-color: #ff623d;
}
.toast--error .toast__icon{
    color: #ff623d;
}
/* common properties */
.toast + .toast{
    margin-top: 24px;
}

.toast__icon{
    font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px;
}

.toast__body{
    flex-grow: 1;
}
.toast__title{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.toast__msg{
    font-size: 14px;
    line-height: 1.5;
    color: #888;
    margin-top: 6px;
}
.toast__close{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
