/* PC */
@media (min-width: 1024px){
    
}

/* tablet and mobile*/
@media (max-width: 1024px){
    .btn{
        padding: 15px 16px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    .contact-info{
        line-height: 2;
    }
    .contact-form .form-control{
        font-size: 16px;
        padding: 15px;
    }
    .contact-submit{
        font-size: 16px;
    }
    .social-list{
        font-size: 48px;
    }
    #footer .social-list a{
        margin: 0 8px;
    }
    #footer .copyright a{
        padding: 12px 0;
        display: inline-block;
    }
}

/* tablet*/
@media (min-width: 740px) and (max-width: 1024px){
    
}

/* mobile*/
@media (max-width: 740px){
    .full-col-width,
    .s-col-full{
        width: 100%!important;
    }
    .s-mt-8{
        margin-top: 8px!important;
    }
    #header {
        /* ẩn thằng cha khi thằng cho chèn lên */
        overflow: hidden;
    }
    
    #nav li a{
        padding: 1px 24px;
    }

    #nav > li{
        display: block;
    }
    /* k click dc cả thanh HOME */
    #nav > li:first-child {
        display: inline-block;
    }

    #nav .subnav{
        position: initial;
        background-color: black;
    }

    #nav .subnav a {
        color: white;
        padding: 5px 41px;
        line-height: 38px;
    }

    #header .search-btn{
        display: none;
    }
    #nav {
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #header .mobile-menu-btn{
        display: block;
    }
    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }
    #content .member-img {
        width: 60%;
    }
    .contact-info a{
        color: #101aef;
        opacity: 0.8;
    }
    .contact-info a:hover{
        opacity: 1;
    }
    .contact-content{
        margin-top: 48px;
        margin-bottom: 342px;
    }
    .contact-form{
        margin-top: 32px;
        margin-bottom: 100px;
    }

    
}
    