/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    /* font chữ không chân */
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Làm việc theo nguyên tắc từ 
ngoài vào trong
trên xuống dưới
từ tổng quan đến chi tiết 
*/

/* 
1. Vị trí
2. Kích thước (width. height)
3. Màu sắc
4. Kiểu danggs (kiểu chữ, hình tròn, vuông, ...)
*/

/* common */
.text-white{
    color: white!important;
}
.text-center{
    text-align: center!important;
}

.pull-right{
    float: right!important;
}
.clear{
    /* thêm đẻ bao 3 ảnh vào thành 1 khối */
    clear: both;
}
.mt-8{
    margin-top: 8px!important;
}
.mt-16{
    margin-top: 16px!important;
}
.mt-32{
    margin-top: 32px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: calc(100%/3);
}
.btn{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    text-align: center;
    /* iphone cái nút nhìn khác */
    -webkit-appearance: none;
}
.btn:hover{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

/* main */
#main {

}

#header {
    height: 46px;
    background-color: black;
    /* bám dính lên trên, cố định bên trên */
    position: fixed;
    top: 0; 
    /* bám dinh bên phải và trái */
    left: 0;
    right: 0;
    /* để header nổi lên trên ảnh khi kéo lên xuống 
    có chục y chục x và chục z như vector*/
    z-index: 1;
}

#nav {
    display: inline-block;
}

#nav > li{
    display: inline-block;
}

#nav li {
    position: relative;
}

/* thẻ a phải là con trực tiếp của thẻ li, etc. */
#nav > li > a{
    color: white;
    text-transform: uppercase;
}

#nav li a{
    /* bỏ gạch chân */
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    /* để ăn theo line 2 để xét chiều cao và chiều rộng */
    display: block;
}


/* mỗi khi di chuyển chuột lên thì đổi màu  */
#nav .subnav li:hover a,
#nav > li:hover > a {
    color: #000;
    background-color: #ccc;
}
/* #nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
} */

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    /* mặc định là cách thằng cha 100% */
    top: 100%;
    background-color: white;
    /* box-shadow: x và y = 0 tỏa đều; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav, .subnav {
    list-style-type: none;
} 

/* di vào li cấp cha thì hiển thị subnav thằng con */
#nav li:hover .subnav {
    display: block;
}
 
#nav .subnav a {
    color: black;
    padding: 0 16px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#header .search-btn,
#header .mobile-menu-btn{
    float: right;
    padding: 0 21px;
    /* biến con chuột thành ngón trỏ khi ng dung di chuyển chuột lên */
    cursor: pointer;
}

#header .search-btn:hover{
    background-color: #f44336!important;
}

#header .mobile-menu-btn{
    display: none;
    position:absolute;
    top: 0;
    right: 0;
}

#header .mobile-menu-btn:hover{
    background-color: #ccc;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: black;
} 

#header .menu-icon,
#header .search-icon{
    color: white;
    font-size: 20px;
    line-height: 46px;
    
}

#slider {
    position: relative;
    /* default slider bên dưới header có chiều cao 46px */
    margin-top: 46px;
    /* ảnh hiển thị theo kích thước của ảnh
    chiều cao bằng 50% chiều rộng
    chiều rộng ăn theo chiều rộng của màn hình */
    /* khi đặt là % thì là 50% của chiều rộng của chính nó */
    padding-top: 50%;
    /* <!-- background-image, background-position,  --> */
    background: url('/F8-Shop/w3school-band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content {
    color: white;
    position: absolute;
    bottom: 46px;
    /* left: 50%;
    transform: translateX(-50%); 
    or */
    width: 100%;
    /* or
    right: 0
    left: 0
    keo text-content ở giữa  */
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
}

#content {

}

#content .content-section{
    width: 800px;
    /* max-width mạnh hơn width nếu màn hình bé hơn 800px */
    max-width: 100%;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
    /* sửa hở 8px cho ipad */
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    /* cach chu cach nhau */
    letter-spacing: 4px;

}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 60%;
}

/* the band section */
#content .about-text{
    font-size: 15px;
    text-align: justify;
    /* khoang cach tieng anh la 1.4
    tieng viet 1.6 */
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px;
    /* overflow: hidden; */
}

#content .member-name{
    font-size: 15px;
}

#content .member-img{
    width: 154px;
    margin-top: 15px;
    /* bo góc ảnh */
    border-radius: 4px;
}

/* tour section */
#content .tour-section{
    background-color: black;

}

.ticket-list{
    background-color: white;
    margin-top: 40px;
    list-style-type: none;
}
.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #dddddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    float: right;
    width: 24px;
    height: 24px;
    margin-top: -3px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
}
/* locations */
.place-list{
    margin-top: 16px;
    /* margin-bottom: 48px; */
}
/* .place-item{
    float: left;
    /* 3 cái ảnh trên 1 dòng */
    /* width: calc(100%/3);
    padding: 0 8px; */
/* } */

.place-img{
    /* bàng kích thước của thẻ chứa nó */
    width: 100%;
    /* để k có màu đen giữa img và body */
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    font-size: 15px;
    padding: 16px;
}
.place-heading{
    /* vì thẻ h2 có thuộc tính mặc định k ăn theo từ place-body */
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px;
    opacity: 0.60;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}


/* contact form */
.contact-content{
    margin-top: 48px;
    margin-bottom: 251px;
}
.contact-info{
    /* width: 80px; */
    font-size: 18px;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.map-section img{
    width: 100%;
}

#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .social-list{
    font-size: 24px;
}

#footer .social-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a:hover,
#footer .social-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    margin: 15px 0;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a{
    margin-top: 15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}