/* pseudo class */
:root {
    --fav-color: aquamarine;
}
h1 {
    color: var(--fav-color);
    font-size: 100px;
}
/* gọi 1 đối tượng unique - cho id */
#third-heading {
    --third-colr: cadetblue;
    color: var(--third-colr);
    font-style: inherit;
}
/* gọi nhóm đổi tượng  - cho class */
.fourth-headings {
    color: rgb(55, 55, 134);
    font-style: oblique;
}