:root{
    --primary-color: #ee4d2d;
    /* --primary-color: rgba(238, 77, 45); */
    --white-color: white;
    --black-color: black;
    --text-color: #333;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3d;

    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --navbar-height: 34px;
}

*{
    box-sizing: inherit;
}

html {
    /* mặc định là 16px 
    để font size là 62.5$ thì 1rem bằng 10px
    12px = 1.2rem
    16px = 1.6rem*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* test */
.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    /* chiếm hết màn hình */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: faceIn linear 0.1s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    width: 500px;
    height: auto;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    padding: 0 12px;
    text-decoration: none;
    border: none;
    border-radius: 2px;  
    font-size: 1.5rem; 
    outline: none;
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;
}

/* 1 element phải có cả 2 class này */
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
    font-weight: 400;
    
}

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

/* Selection */
.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    min-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
}
.select-input:hover .select-input__list {
    display: block;
}
.select-input__label {
    font-size: 1.4rem;
}

.select-input__label-icon {
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    display: block;
    padding: 4px 0;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
}

.select-input__link:hover {
    color: var(--primary-color);
}

/* pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.pagination-item--active .pagination-item__link:hover {
    background-color: #ed5c3f;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.8rem;
    line-height: var(--height);
    color: #939393;
    min-width: 40px;
    height: var(--height);
    border-radius: 2px;
}

.home-product__pagination {
    margin: 40px 0 60px;
}

/* footer */

.footer {
    border-top: 4px solid var(--primary-color);
}
.customer__service{
    padding: 0 50px;
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0.56;
}

.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;

}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__link-icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download{
    display: flex;
}
.footer__download-qr{
    width: 86px;
    height: 86px;
    object-fit: contain;
    border: 1px solid var(--border-color);
}
.footer__download-app{
    height: 86px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
}
.footer__download-app-link {
    text-decoration: none;
}
.footer__download-app-img{
    height: 20px;
}
  
.footer__bottom{
    position: absolute;
    padding: 24px 0;
    background-color: #F5F5F5;
    margin-top: 24px;
    display: block;
    left: 0;
    right: 0;
}

.footer__policies {
    display: flex;
    justify-content: center;
}
.footer__policies-link {
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 20px 15px 40px;
}
.footer__policies-link::after {
    content: "";
    position: absolute;
    height: 15px;
    margin-left: 15px;
    border-left: 1px solid var(--border-color);
}

.footer__policies-link:last-child::after {
    display: none;
}


.footer__register {
    display: flex;
    justify-content: center;

}
.footer__register-link {
    display: block;
    margin: 0 20px;
}
.footer__register-link-trade-stamp {
    width: 120px;
    height: 40px;
    background-size: 576.6666666666666% 411.1111111111111%;
    background-position: 98.6013986013986% 81.42857142857143%;
}
.footer__register-link-no-fake-stamp {
    width: 45px;
    height: 46px;
    background-size: 1441.6666666666667% 385.4166666666667%;
    background-position: 88.35403726708074% 33.57664233576642%;
}

.footer__text-company-name{
    padding: 8px 0 25px 0;
}
.footer__text {
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    color: var(--black-color);
    padding-top: 8px;
}