.header {
    height: var(--header-height);
    background-image: linear-gradient(#fe6433, #f53e2d);
}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

/* hiện QR code */
.header__navbar-item--has-qr:hover .header__qr,
.header__navbar-item--has-notified:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover
.header__navbar-icon-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0 4px;
}
.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}
.header__navbar-item--separate::after{
    content: "";
    display: block;
    position: absolute;
    border-left: 1px #FB9086;
    height: 14px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    
}
.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-user {
    display: flex;
    justify-content: center;
}

.header__nabar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0 , 0 , 0 , 0.1);
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;  
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    width: 160px;
    background-color: var(--white-color);
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}

.header__navbar-user-menu::before {
    content: "";
    position: absolute;
    top: -28px;
    right: 11px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -8px;
    right: 0;
    width: 70%;
    height: 10px;
}
.header__navbar-user-item {
    
}

.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0 , 0 , 0 , 0.05);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    /* 100% của thằng chứa nó */
    top: 128%;
    padding: 8px;
    /* bo góc */
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.3s;
    z-index: 1;
    box-shadow: 0 1px 2px rgba(0 , 0 , 0 , 0.1);
}

.header__qr::before{
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
    content: "";
    display: block;
    /* background-color: black; */
}

.header__qr-img{
    width: 100%;
    padding-bottom: 8px;
}

.header__qr-apps{
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1){
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img{
    height: 16px;
}

/* header notification */
.header__notify{
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border: 1px solid rgba(0 , 0 , 0 , 0.1);
    border-radius: 2px;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s ;
    /* global service phải tối ưu hóa trên cách phần mềm trình duyệt 
    ví dụ như nhật dùng IE mà animation k đc hỗ trợ trên IE nên khi viết html/css phải
    tính thêm mấy bạn trẻ đó vào IE, Safari, etc. */
    /* khai bảo để trình duyệt web tối ưu chuyển động animation */
    will-change: opacity, transform;
    display: none; 
}

.header__notify::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 2px;
    top: -28px
}

/* cầu di chuột */
.header__notify::after{
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 20px;
    right: 0;
    top: -16px;
    
    /* background-color: black; */
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify_header {
    height: 40px;
    background-color: var(--white-color);

}
.header__notify_header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    /* cursor: text; */
    /* khong cho user copy */
    user-select: none; 
}
.header__notify-list{
    padding-left: 0;

}
.header__notify-item{
   display: flex;
}
.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 77, 45, 0.078);
}

.header__notify-link{
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
    

}
.header__notify-img{
    width: 48px;
    object-fit: contain;

}
.header__notify-info{
    margin-left: 12px;

}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__notify-description{
    display: block;
    margin-top: 4px;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #756F6E;
}

.header__notify-footer {
    /* display: flex; */
}

.header__notify-footer-btn {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
}

/* modal */
.modal {

}

.auth-form{
    width: 500px;
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

.auth-form__form {
    /* margin-top: 16px; */
}
.auth-form__group{

}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{
    margin-top: 20px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link{
    color: var(--primary-color);
    text-decoration: none;
}

.auth-form__controls{
    margin-top: 80px;
    margin-bottom: 22px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__controls-back{
    margin-right: 8px;
    background-color: var(--white-color);
}

/* social */
.auth-form__social{
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.auth-form__social-icon{
    font-size: 1.6rem;
}
.auth-form__social--facebook{
    background-color: #3A5A98;
    color: var(--white-color); 
}

.auth-form__social--google{
    background-color: var(--white-color);
    color: #666;
}

.auth-form__social-title{
    margin: 0 36px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__form-link{
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height: 22px;
    margin: -3px 16px 0; 
    border-left: 1px solid var(--border-color);
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__logo{
    width: 200px;
}

.header__logo-link{
    text-decoration: none;
    color: transparent;
}

.header__logo-img{
    width: 150px;
    
}

.header__search{
    height: 40px;
    background-color: var(--white-color);
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    
}

.header__search-input-wrap {
    height: 100%;
    flex: 1;
    position: relative;
}

.header__search-input{
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 2px;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
}

/* nhập chuột thì hiện */
.header__search-input:focus ~ .header__search-history {
    display: block;
}

/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px rgb(192, 191, 191);
    display: none;
    overflow: hidden;
}

.header__search-history-heading {
    color: #999;
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    cursor: default;
}

.header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;  
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

.header__search-history-item a {
    text-decoration: none;
    font-size: 1.2rem;
    line-height: 38px;
    color: var(--text-color);
    display: block;
}

.header__search-select {
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon {
    font-size: 1.4rem;
    color: #adadad;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    width: 130px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    padding-top: 5px;
    /* overflow: hidden; */
    display: none;
    animation: fadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option::after{
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    /* background-color: black; */
    top: -10px;
    left: 0;
    position: absolute;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 10px 8px;
}

.header__search-option-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__search-option-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 10px 8px 12px;
}


.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 8px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}

.header__search-option-item--active i {
    display: inline-block;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    width: 60px;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    outline: none;
    cursor: pointer;
}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

/* shopping cart */
.header__cart{
    width: 150px;
    text-align: center;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-notice {
    position: absolute;
    top: -4px;
    right: -4px;
    padding: 1px 6px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-radius: 10px;
    border: 3px solid #EE4D2D;
}

.header__cart-list{
    position: absolute;
    top: calc(100% + 7px);
    right: 0;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);
    animation: fadeIn ease-in 0.2s;
    cursor: default;
    background-color: #fdfdfd;
    z-index: 1;
    /* display: none; */
}

.header__cart-list::after{
    content: "";
    position: absolute;
    right: 3px;
    top: -26px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}

/* NO/Empty Cart */
.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-list--no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-message {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-list--no-cart-img {
    width: 50%;
    display: none;
}

.header__cart-list-no-cart-message {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

/* none empty cart */
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    height: 30vh;
    overflow-y: auto;
}
.header__cart-item{
    display: flex;
    align-items: center;
}
.header__cart-item:hover{
    background-color: #f8f8f8;
}
.header__cart-item-img{
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #E8E8E8;
    object-fit: cover;
    img
}
.header__cart-item-info{
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    /* text-overflow: ellipsis;
    white-space: nowrap; */
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    flex: 1;
    text-align: left;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.header__cart-item-price-wrap {
    padding-left: 10px;
}

.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}
.header__cart-item-multiply{
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-qnt{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
}
.header__cart-item-dsc{
    font-size: 1.2rem;
    font-weight: 300;
    color: #757575;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    cursor: pointer;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
}

.header__cart-view-cart{
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}

/* Container body */
.app__container {
    background-color: rgb(245, 245, 245);
}

.app__content {
    padding-top: 36px;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);

}
.category__heading {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 16px 16px 0 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
}

.category-item {
    position: relative;
}
.category-item:first-child::before{
    display: none;
}
.category-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    border-top: 1px solid #E1E1E1;
}

.category-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    padding: 6px 20px;
}

.category-item__link:hover {
    color: var(--primary-color);

}

.category-item--active .category-item__link{
    color: var(--primary-color);
}

/* home sort + filter*/

.home-filter{
    display: flex;
    padding: 12px 22px;
    align-items: center;
    border-radius: 2px;
    background-color: #ededed;
}

.homer-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-number {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter_page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-control-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    font-size: 1.6rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
}

.home-filter__page-control-btn--disabled {
    background-color: #f9f9f9; 
    cursor: default;
}

.home-filter__page-control-btn--disabled .home-filter__page-control-btn-icon{
    color: #ccc; 
}
.home-filter__page-control-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-control-btn-icon {
    margin: auto;
    color: #555;
}

/* Home product */
.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    /* chiều ngang của thẻ chứa nó 
    để cho nó thành hình vuông*/
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--text-color);
    height: 3.6rem;
    margin: 10px 8px 8px;
    /* tên dài có dấu ... trên 1 dòng*/
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* max số dòng hiển thị */
    -webkit-line-clamp: 2;
    /* 1 dòng overflow ... */
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}

.home-product-item__price {
    display: flex;
    /* 2 item đế bằng nhau */
    align-items: baseline;
    /* giá cao nhảy xuống */
    flex-wrap: wrap;
}

.home-product-item__price-old {
    font-size: 1.4rem;
    font-weight: 400;
    color:  rgba(0,0,0,.54);
    text-decoration: line-through;
    margin-left: 8px;
}

.home-product-item__price-new {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    margin-left: 8px;
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0;
}

.home-product-item__like {
    font-size: 1.4rem;
}


i.home-product-item__like-icon-liked {
    color: #F63D30;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-liked{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-none{
    display: none;
}

.home-product-item__rating {
    font-size: 0.8rem;
    color:rgba(0,0,0,.26);
    transform-origin: right;
    margin: -1px 0 0 auto;
}

.home-product-item__icon--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    margin-left: 5px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 5px 8px 0;
    font-size: 1.2rem;
    font-weight: 200;
    color: rgba(0,0,0,.65);
}

.home-product-item__brand {

}

.home-product-item__country {

}

.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0 4px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.home-product-item__favourite i {
    font-size: 0.8rem;
    margin: 0 2px 0 3px;
    color: var(--white-color);
}
.home-product-item__favourite span {
    color: var(--white-color);
}

.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

/* tu mò */
/* .home-product-item__discount {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px;
    height: 35px;
    padding: 4px 2px 3px;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.4rem;
    text-align: center;
    background-color: #FFD424E6;
    box-sizing: border-box;
}
.home-product-item__discount::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -4px;
    border-width: 4px 19px;
    border-style: solid;
    border-color: transparent #FFD424E6 transparent #FFD424E6;

}
.home-product-item__discount-percent {
    color: #EE4D2D;
}

.home-product-item__discount-label {
    margin: 2px 0;
    color: var(--white-color);
} */

/* theo F8 */
.home-product-item__discount {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;
}
.home-product-item__discount::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    color: rgba(255, 216, 64, 0.94);
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;

}
.home-product-item__discount-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
}

.home-product-item__discount-label {
    color: var(--white-color);
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 4px;
}